apiVersion: v1
kind: Pod
metadata:
  name: tower-unit-tests-{{ lookup('env', 'BUILD_ID') }}
  labels:
    name: tower-unit-tests-{{ lookup('env', 'BUILD_ID') }}
spec:
  containers:
    - name: tower-unit-tests-{{ lookup('env', 'BUILD_ID') }}
      image: gcr.io/ansible-tower-engineering/tools_tower_unit:{{ lookup('env', 'BAKE_BUILD_ID') }}
      imagePullPolicy: Always
      env:
        - name: SKIP_SLOW_TESTS
          value: "{{ lookup('env', 'SKIP_SLOW_TESTS') }}"

